.container {
  padding: 0rem 5rem;
}

.rounded-border {
  border-radius: var(--border-radius);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.link {
  text-decoration: none;
}

.lighter-opacity {
  opacity: 0.5;
}

/*------------------- Header -------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White);
  padding-block: 1rem;
}

.header-text {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  color: var(--Font-primary);
}

.header-icon-wrapper {
  display: flex;
  align-items: center;
}

.header-icon {
  margin-right: 0.5rem;
  width: 1.3rem;
  fill: var(--Font-primary);
}

.header-button {
  border-style: none;
  background-color: var(--White);
  color: var(--Font-primary);
  font-size: 1rem;
  font-weight: var(--weight-semi);
  display: flex;
  cursor: pointer;
}

/*------------------- Home_Filter -------------------*/

.home-wrapper {
  margin-top: 2rem;
}

.home-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  background-color: var(--White);
  width: 25rem;
}

.home-filter svg {
  fill: var(--Dark-Gray);
  width: 1rem;
  margin-inline: 0.6rem;
}

.dropdown {
  background-color: var(--White);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 12rem;
}

.css-6hp17o-MuiList-root-MuiMenu-list,
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  margin-top: 0.5rem !important;
  background-color: var(--White) !important;
  color: var(--Font-primary);
  border-radius: var(--border-radius) !important;
}

/*------------------- Home_Main -------------------*/

.main-content {
  display: flex;
  margin-top: 2rem;
  height: 33rem;
}

.favorite-wrapper {
  margin-right: 2rem;
  background-color: var(--White);
  padding: 1rem;
  width: 23rem;
  color: var(--Font-primary);
}

.favorites-header {
  font-size: 1.3rem;
  font-weight: var(--weight-semi);
}

.favorites-item-container {
  margin-top: 1rem;
  height: 28rem;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.favorites-item-container::-webkit-scrollbar {
  width: 0.7rem;
}

.favorites-item-container::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.475);
  border: 0.15rem solid transparent;
  border-radius: 9px;
  background-clip: content-box;
  height: 1.5rem;
}

.favorites-item-container::-webkit-scrollbar-track {
  border-left: 0.05rem solid rgba(160, 160, 160, 0.203);
  border-right: 0.05rem solid rgba(160, 160, 160, 0.203);
  padding-left: 2rem;
}

.favorite-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

.favorite-item div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.favorite-item-img-wrapper {
  max-width: 2.5rem;
}

.favorite-item-img-wrapper img {
  width: 100%;
  object-fit: cover;
}

.favorite-item span {
  font-size: 0.8rem;
  font-weight: var(--weight-semi);
}

.favorite-item button {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: var(--Button-clr);
  border-style: none;
  color: var(--Font-primary);
}

.favorite-item button span {
  font-weight: var(--weight-bold);
  color: inherit;
}

.grid-container {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  margin: 0 0 !important;
  width: 100%;
}

.grid-container::-webkit-scrollbar {
  width: 0.7rem;
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.475);
  border: 0.15rem solid transparent;
  border-radius: 9px;
  background-clip: content-box;
  height: 1.5rem;
}

.grid-container::-webkit-scrollbar-track {
  border-left: 0.05rem solid rgba(160, 160, 160, 0.203);
  border-right: 0.05rem solid rgba(160, 160, 160, 0.203);
  padding-left: 2rem;
}

.MuiGrid2-root {
  padding-top: 0 !important;
}

.empty-countries {
  color: var(--Font-primary);
  background-color: var(--White);
  height: fit-content;
  padding: 1rem;
  font-size: 1.3rem;
}

.cardHeader {
  color: var(--Font-primary);
  font-weight: var(--weight-semi) !important;
  margin-bottom: 1rem !important;
  font-size: 1rem !important;
}

.card-content .label-with-items-wrapper {
  display: flex;
  color: var(--Font-primary);
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.card-content .label-with-items-wrapper p {
  font-weight: var(--weight-semi);
}

.card-content .label-with-items-wrapper span {
  margin-left: 0.3rem;
  color: var(--Font-secondary);
}

.css-1biuimg-MuiCardContent-root {
  padding: 0rem !important;
  padding-inline: 1.3rem !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.card-icon {
  display: flex;
  justify-content: flex-end;
}

.star-icon {
  fill: var(--star-icon);
  width: 1.7rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: 0.4s;
  display: none;
}

.selected {
  fill: rgb(219, 156, 30);
}

/*------------------- Details_Main -------------------*/

.details-container {
  margin-top: 2rem;
  padding: 0rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-button {
  background-color: var(--White);
  padding: 0.5rem 1.5rem;
  border-style: none;
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--Font-primary);
}

.back-button svg {
  width: 1rem;
  margin-right: 1rem;
  fill: var(--Font-primary);
}

.details-content {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Font-primary);
}

.details-img-wrapper {
  max-width: 40rem;
  min-width: 17rem;
}

.details-img {
  width: 100%;
  height: 100%;
}

.country-details {
  padding: 3rem;
  margin-left: 3rem;
}

.country-details-header {
  font-size: 1.9rem;
  font-weight: var(--weight-bold);
}

.details-items {
  margin-top: 1rem;
  display: flex;
  gap: 5rem;
}

.details-items .label-with-items-wrapper {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.details-items .label-with-items-wrapper p {
  font-weight: var(--weight-semi);
}

.details-items .label-with-items-wrapper span {
  margin-left: 0.5rem;
  color: var(--Font-secondary);
}

.border-countries {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.border-countries span {
  margin-bottom: 2rem;
}

.border-countries span {
  font-weight: var(--weight-semi);
  min-width: fit-content;
}

.border-countries-items {
  display: flex;
  margin-left: 1rem;
  gap: 1rem;
  max-width: 30rem;
  overflow-x: scroll;
  padding-bottom: 1rem;
}

.border-countries-items::-webkit-scrollbar {
  width: 0.7rem;
}

.border-countries-items::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.475);
  border: 0.25rem solid transparent;
  border-radius: 9px;
  background-clip: content-box;
  height: 1.5rem;
}

.border-countries-items::-webkit-scrollbar-track {
  border-left: 0.05rem solid rgba(160, 160, 160, 0.203);
  border-right: 0.05rem solid rgba(160, 160, 160, 0.203);
  padding-left: 2rem;
  border-style: none;
}

.border-countries-item {
  background-color: var(--White);
  padding: 0.3rem 0.6rem;
  min-width: fit-content;
  text-align: center;
}

/* loader */

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.loader {
  border: 16px solid #8e8e8e;
  border-top: 16px solid var(--Font-primary);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* mobile */

@media only screen and (max-width: 1150px) {
  .container {
    padding: 1.5rem 5rem;
  }

  .details-container {
    padding: 0rem 10rem;
  }

  .details-content {
    flex-direction: column;
    width: fit-content;
  }

  .country-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0rem;
    margin-top: 2rem;
    margin-left: 0;
  }

  .country-details-header {
    text-align: left;
    width: 100%;
  }

  .details-items {
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
  }

  .border-countries {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .border-countries-items {
    margin-left: 0rem;
    /* max-width: 40rem; */
  }
}

@media only screen and (max-width: 800px) {
  .border-countries span {
    margin-bottom: 0rem;
  }

  .details-container {
    padding: 0rem 2rem;
  }

  .css-1gja677-MuiGrid2-root {
    display: flex;
  }

  .loader-container {
    margin-bottom: 20rem;
  }

  .header-icon {
    width: 1rem;
  }

  .favorite-wrapper {
    display: none;
  }

  .home-filter {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .home-wrapper {
    margin-top: 0;
  }

  .details-content {
    margin-left: 0rem;
  }

  .input {
    width: 100%;
  }

  .container {
    padding: 1.5rem 1.5rem;
  }

  .header-text {
    font-size: 1.3rem;
  }

  .grid-container {
    width: 100%;
    margin-left: 0rem !important;
    margin-top: 0.8rem !important;
  }

  .MuiGrid2-root {
    justify-content: center !important;
    width: fit-content !important;
  }

  .card {
    min-width: 20rem !important;
  }

  .star-icon {
    display: block;
  }

  .css-1biuimg-MuiCardContent-root {
    padding-bottom: 0rem !important;
  }

  .details-items {
    flex-direction: column;
    gap: 2rem;
  }

  .border-countries-items {
    margin-top: 1rem;
    max-width: 19rem;
  }

  .details-img-wrapper {
    max-width: 25rem;
    min-width: 17rem;
  }
}

@media (min-width: 2000px) {
  .css-1gja677-MuiGrid2-root {
    width: calc(100% * 3 / 12) !important;
  }
}
