@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --Font-primary: black;
  --Font-secondary: grey;
  --Button-clr: #f1efef;
  --star-icon: rgb(153, 151, 151);

  --Very-Dark-Blue: #111517;
  --Dark-Gray: #858585;
  --Very-Light-Gray: #fafafa;
  --White: #ffffff;

  --Dark-blue: #2b3945;

  --weight-light: 300;
  --weight-semi: 600;
  --weight-bold: 800;

  --border-radius: 0.3rem;

  --box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  background-color: var(--Very-Light-Gray);
}
